@import url(variaveis.css);

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "nav nav"
    "aside main";
}

.navbar {
  grid-area: nav;
  width: 100%;
}
.navbar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  height: 80px;
  margin: 0 auto;
}
.navbar h2 {
  font-size: 24px;
  font-weight: 300;
  color: var(--cor-azul);
}

.navbar span {
  font-weight: bold;
}
.dashboard {
  display: flex;
  align-items: center;
}
.dashboard h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--cor-cinza);
}
.dashboard-list {
  display: flex;
  align-items: center;
}

.dashboard-list li {
  margin: 10px;
}
.dashboard-list li i {
  font-size: 24px;
  color: var(--cor-cinza);
  border: 1px solid var(--cor-cinza);
  padding: 5px;
  border-radius: 50px;
}
.dashboard-perfil img {
  margin: 5px;
  background-color: var(--cor-azul-marinho);
  border-radius: 50px;
  width: 40px;
  padding: 1px;
}

.dashboard-list .icon-title {
  display: none;
}

.navbar-input {
  display: flex;
  align-items: center;
  width: 490px;
  height: 40px;
  border: 1px solid var(--cor-cinza);
  border-radius: 20px;
}
.navbar-input i {
  margin: 10px;
}

.navbar-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.aside {
  grid-area: aside;
  border: 1px solid var(--cor-branca-200);
}
.aside ul {
  padding: 20px;
}
.aside ul h1 {
  font-weight: 600;
  color: var(--cor-cinza-300);
  font-size: 12px;
}
.aside ul li {
  padding: 10px;
}

.aside ul li a {
  font-weight: 600;
  color: var(--cor-texto-400);
  font-size: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.aside ul li a i {
  padding: 10px;
}
.aside ul li a:hover {
  background-color: var(--botao);
  color: var(--cor-branca);
  border-radius: 15px;
}

.main {
  background-color: var(--cor-branca-300);
  grid-area: main;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "c1 c2"
    "c1 c3";
  gap: 20px;
}
.card {
  background-color: var(--cor-branca);
  border-radius: 10px;
}
.card:nth-child(1) {
  grid-area: c1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-recente h1 {
  font-size: 20px;
}
.card-recente img {
  width: 80%;
}
.image-car {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}
.image-car img {
  width: 40%;
  height: 100%;
}
.image-car h1 {
  font-weight: 700;
  color: var(--cor-texto-300);
  font-size: 24px;
}
.resumo-car {
  background-image: url(../image/image_catalogo/bg_catalogo2.png);
  padding: 15px;
  border-radius: 15px;
}
.check-form {
  display: flex;
}
.check-text {
  display: flex;
  align-items: center;
  margin: 5px;
}
.check-text i {
  color: var(--botao);
  margin: 5px;
}
.check-box-input {
  display: flex;
}
.check-input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.check-input input {
  padding: 5px;
  border: none;
  outline: none;
}
.check-input label {
  font-weight: 700;
  color: var(--cor-texto-300);
  font-size: 16px;
}
.total {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.total h1 {
  font-size: 16px;
}
.total p {
  font-size: 22px;
}
.func {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.func h1 {
  font-size: 16px;
}
.func img {
  height: 50px;
  width: 50px;
}
.func-box {
  display: flex;
  margin-top: 20px;
}
.func-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

/*CARD 2*/
.card:nth-child(2) {
  grid-area: c2;
}
.top-card {
  padding: 20px;
}
.top-text {
  display: flex;
  justify-content: space-between;
}
.top-text h1 {
  font-weight: 700;
  color: var(--cor-texto-300);
  font-size: 20px;
}
.top-text img {
  width: 20px;
}
.top-graph {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.top-graph-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-graph-div h1 {
  font-weight: 700;
  color: var(--cor-texto-300);
  font-size: 24px;
}
.top-graph-div p {
  font-weight: 500;
  color: var(--cor-cinza-200);
  font-size: 14px;
}
.top-graph-div img {
  width: 65%;
}
.top-text-car {
  width: 50%;
}
.sport-car,
.suv,
.coupe,
.hatchback,
.mvp {
  display: flex;
  justify-content: space-between;
}
.div {
  display: flex;
  align-items: center;
}
.sport-car .mark {
  width: 12px;
  height: 12px;
  background-color: #a6cef2;
  border-radius: 70px;
}
.suv .mark {
  width: 12px;
  height: 12px;
  background-color: #175d9c;
  border-radius: 70px;
}
.coupe .mark {
  width: 12px;
  height: 12px;
  border-radius: 70px;
  background-color: #2185de;
}
.hatchback .mark {
  width: 12px;
  height: 12px;
  background-color: #63a9e8;
  border-radius: 70px;
}
.mvp .mark {
  width: 12px;
  height: 12px;
  background-color: #a6cef2;
  border-radius: 70px;
}
/*CARD 3*/
.card:nth-child(3) {
  grid-area: c3;
}
.recentes {
  padding: 20px;
}
.recentes-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.recentes-text h1 {
  font-weight: 700;
  color: var(--cor-texto-300);
  font-size: 20px;
}
.recentes-text a {
  font-weight: 500;
  color: var(--cor-azul);
  font-size: 12px;
}
.div {
  margin: 10px;
  display: flex;
  border-bottom: 1px solid var(--cor-branca-200);
  padding: 5px;
  justify-content: space-between;
}
.div img {
  width: 40%;
  height: 100%;
}

.car-name {
  display: flex;
}
.car-name h1 {
  font-weight: 700;
  color: var( --cor-texto-300);
  font-size: 16px;
}
.car-name-box {
  margin: 10px;
}

@media (max-width: 1100px) {
  body {
    grid-template-columns: 200px 1fr;
  }
  .aside ul li a {
    font-size: 14px;
  }
  .top-graph {
    display: block;
    margin-top: 20px;
  }
  .top-text-car {
    width: unset;
  }
  .sport-car,
  .suv,
  .coupe,
  .hatchback,
  .mvp {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .navbar h2 {
    font-size: 20px;
  }
  .navbar-box {
    width: 90%;
  }
  .dashboard h3 {
    display: none;
  }
  .dashboard-list {
    display: none;
    flex-direction: column;
    background-color: var(--cor-branca);
    position: absolute;
    top: 81px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .dashboard-list .icon-title {
    display: block;
  }
  .dashboard-list li {
    display: flex;
    align-items: center;
    width: 90%;
  }
  .dashboard-list a i {
    margin: 5px;
  }
  .dashboard-list a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard-img {
    display: flex;
  }
  .dashboard-list.active {
    display: flex;
  }
  .navbar-img img {
    width: 100px;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "nav nav"
      "aside aside"
      "main main";
    height: 200vh;
  }
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "c1"
      "c2"
      "c3";
    gap: 20px;
  }
  .check-box-input {
    display: block;
  }
  .image-car {
    width: unset;
  }
  .image-car h1 {
    font-size: 18px;
  }
  .func {
    margin-top: 20px;
  }
  .func h1 {
    font-size: 12px;
  }
  .func img {
    height: 40px;
    width: 40px;
  }
  .func-box {
    margin-top: 20px;
    display: flex;
  }
  .func-box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }
  .aaside li
  {
    padding: 10px;
  }
  .aside ul {
    padding: 10px;
  }
}
